/*html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing:inherit;
}*/


:root{
    --primary-text-color:#434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
    --portfolio-button-bg-color:#F4F4FD;
    --portfolio-button-bg-accent-color:#404BBF;
    --main-bg-color:#ffffff;
    --footer-text-portfolio-button-border: #E7E9FC;
    --footer-green:#31D0AA;
    --main-icon-color: #8E8F99;
    --function-for-hover: cubic-bezier(0.4, 0, 0.2, 1);

}

body{
    background-color:var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
   /*padding-top:72px*/
}
 
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

.container{
    width: 1158px;
    /*1128+15*2*/
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;

   /* outline: 1px solid tomato;*/
}
.section{
    padding-top: 120px;
    padding-bottom: 120px;
}
.list{
    list-style: none;
    padding: 0;
}

.logo {
    display: block;
    padding: 24px 0;
    margin-right: 76px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    letter-spacing: 0.03em;

    transition: color 250ms var(--function-for-hover);
}
.logo-first-part{
    color: var(--accent-color);  
}
.logo-second-part-header{
    color: var(--title-text-color);
}
.logo-second-part-footer{
    color: var(--portfolio-button-bg-color);
}

.caption,
.link{
    color:var(--title-text-color)

}

.header-site-navigation-link:hover,
.header-address-navigation-link:hover,
.logo:hover,
.header-site-navigation-link:focus,
.header-address-navigation-link:focus,
.logo:focus
{
    color: var(--accent-color);
}


        /*настройки кнопок*/
.button{
    min-width: 169px;
    height: 56px;
    display: inline-block;
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    /*padding: 16px 32px;*/

    background-color: var(--accent-color);
    color: var(--main-bg-color);
    font-family: inherit;
    font-weight: 500;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--function-for-hover);
}

.button:hover,
.button:focus {
    background-color: var(--portfolio-button-bg-accent-color);
}

.current {
    color: var(--accent-color);
    position: relative;
}
.current::after{
    content: "";
    display:inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.link,
.button,
.logo,
.portfolio-button {
    text-decoration: none;
}


        /*header*/
.header{
    /*position: fixed;
    top: 0;
    left: 0;*/
    width: 100%;
    min-height: 72px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid var(--footer-text-portfolio-button-border);
}               
.nav-main{
    display: flex;
    justify-content: space-around;
}
.nav{
    display: flex;
}
.header-site-navigation-list{
    display: flex;
}
.header-site-navigation-item {
    font-weight: 500;
}
.header-site-navigation-item:not(:last-child){
    margin-right: 40px;
}
.header-site-navigation-link{
    display: block;
    padding: 24px 0;

    transition: color 250ms var(--function-for-hover);
}

.header-address-navigation-list{
    display: flex;
}
.header-address-navigation-item:not(:last-child) {
    margin-right: 40px;
}
.header-address-navigation-item {
    font-style: normal;
}
.header-address-navigation-link{
    display: block;
    padding: 24px 0;
    
    transition: color 250ms var(--function-for-hover);
}

        /*hero*/
.hero{
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: var(--title-text-color);
    text-align: center;    
}

.hero-title{
    max-width: 494px;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
    color: var(--main-bg-color);
    font-size: 56px;
    line-height: 1.07;
}


        /*skills*/
.skills-list{
    display: flex;
}
.skills-item:not(:last-child){
    margin-right: 24px;
}
.skills-item-title{
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
.skills-item{
    display: block;
}
.skills-icon{
    display: flex;
    height: 112px;
    background-color: var(--portfolio-button-bg-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}
.skills-icon-symbol{
    width: 64px;
    height: 64px;
}



        /*examples*/
.examples{
    padding-top: 0;
}
.examples-list{
    display: flex;
}
.examples-item:not(:last-child) {
    margin-right: 24px;
}
.examples-title{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}


        /*team*/
.team {
    background-color: var(--portfolio-button-bg-color);
}
.team-title{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
}
.team-list{
    display: flex;
    
}
.team-item{
    width: calc((100%-72px)/4);
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-color: var(--main-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-item:nth-last-child(1) {
    margin-right: 0;
}

.team-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 32px 16px;
}

.team-item-name,
.team-item-speciality{
    margin-bottom: 8px;
}

.team-icon-list{
    display: flex;
    gap: 24px;
}
.team-icon{
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border-radius: 50%;

    transition: background-color 250ms var(--function-for-hover);
}
.team-icon-link{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    justify-content: center;
    align-items: center;
}

.team-icon:hover,
.team-icon:focus{
    background-color: var(--portfolio-button-bg-accent-color);
    cursor: pointer;
}



        /*customers*/
.customers{
    padding-top: 130px;
}
.customers-title{
    margin-bottom: 72px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;    
    color: var(--title-text-color);
}
.customers-list {
    display: flex;
    gap: 24px;
}
.customers-item {
    width: calc((100%-120px)/6);
    height: 88px;
}
.customers-link{
    display:flex;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-icon-color);
    border-radius: 5%;
    color: var(--main-icon-color);

    transition: background-color 250ms var(--function-for-hover),
            color 250ms var(--function-for-hover);
}
.customers-link:hover,
.customers-link:focus{
    border-color: var(--portfolio-button-bg-accent-color);
    color: var(--portfolio-button-bg-accent-color);
}
.customers-icon {
    fill: currentColor;
}


        /*footer*/
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--title-text-color);
}
.logo-footer{
    padding-top: 0;
    padding-bottom: 0;
}
.footer-text{
    margin-top: 16px;
    color: var(--footer-text-portfolio-button-border);
}
.footer-cont{
    display: flex;
    justify-content: space-between;
}
.footer-container{
    padding: 0;
    margin: 0;
    width: 264px;
}
.footer-media-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-bg-color);
    margin-bottom: 16px;
}
.footer-list{
    display: flex;
    gap: 16px;
}
.footer-item{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size:24px;
    background-position: center;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--function-for-hover);
}
.footer-link {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    justify-content: center;
    align-items: center;
}

.footer-item:hover,
.footer-item:focus {
    background-color:var(--footer-green);
    cursor: pointer;
}
.footer-input {
    display: inline-block;
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter:drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    margin-right: 24px;
    outline: transparent;
    transition: border-color 250ms var(--function-for-hover);
}
.footer-input:focus {
     border-color: var(--accent-color);
 }

.form-button {
    display: inline-block;
    width: 165px;
    height: 40px;
    padding: 8px 24px;
    background:var(--accent-color);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms var(--function-for-hover);
}
.form-button:hover,
.form-button:focus{
    background-color: var(--portfolio-button-bg-accent-color);
}
.form-button-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button-area-text {
    color: var(--main-bg-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}


        /*portfolio*/
.portfolio {
    padding-top: 96px;
}
.portfolio-navigation-list {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
}
.portfolio-navigation-item:not(:last-child) {
    margin-right: 24px;
}
.portfolio-button {
    display: inline-block;
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid var(--footer-text);
    background-color: var(--portfolio-button-bg-color);
    color: var(--accent-color);
    font-family: inherit;
    font-weight: 500;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    cursor: pointer;

    transition: background-color 250ms var(--function-for-hover), 
        color 250ms var(--function-for-hover),
        box-shadow 250ms var(--function-for-hover);
}
.portfolio-button:hover,
.portfolio-button:focus {
    background-color: var(--portfolio-button-bg-accent-color);
    color: var(--main-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    /*column-gap: 21px;*/
}
.portfolio-item{
    flex-basis: calc((100%-(2*24px))/3);
    /*width: 360px;*/
    margin-right: auto;
    display: flex;
    flex-direction: column;
    background: var(--main-bg-color);
}

.portfolio-item:nth-child(3n){
    margin-right: 0;
}
.portfolio-item-link {
    display: block;
    border: 0.5px solid transparent;
    box-shadow: 0px 1px 6px transparent,
            0px 1px 1px transparent,
            0px 2px 1px transparent;
    transition: border 250ms var(--function-for-hover),
            box-shadow 250ms var(--function-for-hover);
}
.portfolio-item-link:hover {
    border: 0.5px solid var(--portfolio-button-bg-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item-div{
    position: relative;
    overflow: hidden; /*все, что не входит в зону блока скрывается визуально*/
}
.portfolio-item-animation{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    padding: 40px 32px;

    transition: background-color 250ms var(--function-for-hover),
            color 250ms var(--function-for-hover),
            transform 250ms var(--function-for-hover);
}

.portfolio-item-animation-text{
    color: var(--portfolio-button-bg-color);
}
.portfolio-item-link:hover .portfolio-item-animation{
    background-color: var(--accent-color);
    color: var(--portfolio-button-bg-color);
    transform: translateY(-100%); /*двигаемся по оси у вверх*/
}
.portfolio-item-text{ 
    display: flex;  
    flex-direction: column;
    width: 100%;
    padding: 32px 0 32px 16px;
    background-color: var(--main-bg-color);
    border-right: 1px solid var(--footer-text-portfolio-button-border);
    border-left: 1px solid var(--footer-text-portfolio-button-border);
    border-bottom: 1px solid var(--footer-text-portfolio-button-border);
    z-index: 2;
}
.portfolio-item-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 1;
    transition: opacity 250ms var(--function-for-hover),
    visibility 250ms var(--function-for-hover);
}
.backdrop.is-hidden{
    visibility:hidden;
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    background:#FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 0 24px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--function-for-hover);
}
.modal-close{
    position: absolute;
    top:24px;
    right: 24px;
    display: flex;
    width: 24px;
    height: 24px;
    background-color: var(--footer-text-portfolio-button-border);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: fill 250ms var(--function-for-hover), 
    background-color 250ms var(--function-for-hover),
    border 250ms var(--function-for-hover);
}
.modal-close:hover,
.modal-close:focus {
    border: none;
    fill: var(--main-bg-color);
    background-color:var(--portfolio-button-bg-accent-color);
}
.modal-title {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    margin-top: 72px;
    margin-bottom: 12px;
}
.modal-label {
    display:inline-block;
    margin-bottom:0;
    padding: 0;    
    font-size: 12px;
    line-height: 1.16;
        letter-spacing: 0.04em;
        color: #8E8F99;
}
.label-text {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.form-div{
    margin-bottom: 0;
}
.form-div-feedback {
    margin-bottom: 12px;;
}
.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    padding: 8px 16px 8px 38px;
    outline: transparent;
    transition: border-color 250ms var(--function-for-hover);
}

.modal-input::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal-input:focus {
    border-color: var(--accent-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--accent-color);
}

.input-field {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms var(--function-for-hover);
}

.feedback {
    height: 120px;
    padding-left: 16px;
    resize: none;
    /*чтобы пользователь не изменял размер окна*/
}

.checkbox-label {
    display: flex;
    justify-content:flex-start;
    gap: 8px;
    padding: 0;
    margin-bottom: 24px;
}

.checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    padding: 4px 3px;
    background-color: transparent;
    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;
    fill:transparent;
    transition: background-color 250ms var(--function-for-hover),
    fill 250ms var(--function-for-hover),
    border 250ms var(--function-for-hover);
}

.checkbox:checked + .checkbox-label .checkbox-icon{
    background-color:var(--portfolio-button-bg-accent-color);
    fill: var(--portfolio-button-bg-color);
    border: none;
}
.checkbox-text {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.01em;
    color: #757575;
}
.checkbox-link {
    color:var(--accent-color);
}

.modal-button {
    min-width: 169px;
    height: 56px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
    border-radius: 4px;
    padding: 16px 32px;
    text-align: center;
    display: block;
    margin: 0 auto 24px auto;
    transition: background-color 250ms var(--function-for-hover);
}
.modal-button:hover,
.modal-button:focus{
    background-color:var(--portfolio-button-bg-accent-color);
}
.modal-button-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--main-bg-color);
}
