
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }



                    /*hero*/
    .hero {
        max-width: 768px;
        height: 436px;
        padding-top: 112px;
        padding-bottom: 108px;
    }
    .hero-title {
        max-width: 494px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }


                    /*skills*/
    .skills-list {
        column-gap: 24px;
        row-gap: 72px;
    }
    .skills-item {
        max-width: 356px;
    }
    .skills-item-title {
        text-align: left;
    }


                    /*team*/
    .team {
        background-color: var(--portfolio-button-bg-color);
        padding-bottom: 104px;
    }
    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 64px;
        justify-content: center;
    }
    .team-item{
        width: 264px;
    }
    

                    /*customers*/
    .customers-list {
        justify-content: center;
        column-gap: 24px;
    }
    .customers-item {
        width: 168px;
    }


                        /*footer*/
    .footer-cont{
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        align-items: start;
        padding-left: 108px;
    }
    .footer-container{
        align-items: start;
        width: 264px;
    }
    .footer-media{
        align-items: start;
    }
    .footer-form{
        display: inline-block;

    }
    .form-subscribe{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }
    .subscribe{
        margin-bottom: 16px;
    }
    .footer-input{
        width: 264px;
    }


                /*portfolio*/
.portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
}
.portfolio-navigation-list{
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;

}
.portfolio-list{
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
}
.portfolio-item{
    flex-basis: calc((100%-(24px))/2);
    margin-right: auto;
}

}